/**STYLING FOR EVERY PAGE/ MAIN PAGE SPECIFCS**/

body{
	margin: 0;
	padding:0;
	font-family: "Arial";
}
.workSpace{
	position: relative;
	min-height: 100vh;
}
.header{
	padding: 10px;
	text-align: center;
	background-color: #782F40;
	color: #CEB888;
	height: 10vh;
	border-bottom-style: solid;
	border-color: #000000;
	border-width: 1px;
	position: fixed;
	width: 100%;
	top:0;
}

.headGap{
	top:0;
	height:9vh;
}

.sections{
	float: left;
	height: 85vh;
}

.sections.menu{
	padding-top: 2px;
	background-color: #222222;
	color: #FFFFFF;
	text-align: center;
	width: 6%;
	border-style:solid;
	border-color:#000000;
	border-width: 1px;
}

.sections.menu a{
	display: block;
	border-color: #000000;
	border-style: solid;
	border-width: 1px;
	padding-bottom: 20px;
	width: 99%;
	text-decoration: none;
	color:#FFFFFF;
}

.sections.menu a:hover{
	background-color:#111111;
}

.sections.calendar{
	font-size: 20px;
	text-align: center;
	width: 63%;
	height: 85vh;
}

.sections.other{
	border-left-style: solid;
	border-width: 3px;
	border-color: #CEB888;
	width: 19%;
}

.middleList{
	background-color:#580F20;
}

.middleList li{
	list-style-type:none;
	float: left;
	text-align: center;
	color: #CEB888;
	background-color:#CEB888;
	width: 20%;
	text-decoration: none;
	padding: 0px;
	margin-left: 90px;
	border-style: solid;
	border-width:1px;
	border-color:#000000;
}

.middleList li a{
	text-decoration: none;
	color:#FFFFFF;
	display: block;
}


.middleList li a:hover{
	background-color:#AE9868;
	color: #FFFFFF;
}


.rightContent{
	height: 200px;
	width: 200px;
	text-align: center;
	font-size: 10;
}

.row:after{
	content: "";
	display: table;
	clear: both;
}

.footer{
	border-top-style: solid;
	border-color: #000000;
	border-width: 1px;
	background-color: #808080;
	text-align: center;
	position: fixed;
	width: 100%;
	bottom: 0;
	height: 5vh;
}

/* The container around the calendar */
.container {
	width: 100%;
	height: 83vh;
	background-color: white;
	color: black;
	display: flex;
	justify-content:center;
}

/* The calendar itself */
.calendar {
	width: 100%;
	height: 100%;
	background: tan;
	box-shadow: 0 0.1em 3rem rgba(0, 0, 0, 0.4);
}

.month {
	width: 100%;
	height: 30%;
	background-color: #733635;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 0;
	text-align: center;
	text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.5);
}

.month i {
	font-size: 2.5rem;
	cursor: pointer;
}

.month h1 {
	font-size: 3rem;
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: 0.2rem;
	margin-bottom: 1rem;
}

.month p {
	font-size: 1.6rem;
}

.weekdays {
	width: 100%;
	height: 8%;
	padding: 0 0%;
	display: flex;
	align-items: center;
}

.weekdays div{
	font-size: 1.5rem;
	font-weight: 400;
	letter-spacing: 0.1rem;
	width: 14%;
	display: flex;
	justify-content: center;
	align-items: center;
	text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.5);
	transition: background-color 0.2s;
}

.days {
	width: 100%;
	height:50%;
	display: flex;
	flex-wrap: wrap;
	padding: 0rem;
}

.days div {
	font-size: 1.4rem;
	margin: 0;
	width: 14%;
	height: 20%;
	display: flex;
	justify-content: center;
	align-items: center;
	text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.5);
}

.days div:hover:not(.today) {
	background-color: #b9894b;
	border: 0.1rem solid #777;
	cursor: pointer;
}

.prev-date,
.next-date {
	opacity: 0.5;
}

.today {
	background-color: #bf935a;
}

/**THIS IS STYLING FOR GROUPS PAGE**/
.sections.groups{
	font-size: 20px;
	text-align: center;
	width: 19%;
}

.sections.messages{
	text-align: center;
	border-left-style: solid;
	border-width: 3px;
	border-color: #CEB888;
	width: 74%;
}


/**THIS IS STYLING FOR SETTINGS PAGE SPECIFICS**/


.sections.setTitle{
	font-size: 20px;
	text-align: center;
	width: 92%;
}

.sections.settings1{
	text-align: right;
	padding-left: 10px;
	font-size: 15px;
	width: 48%;
	height: 45vh;
}


.sections.settings2{
	text-align: left;
	padding-left: 10px;
	font-size: 15px;
	width: 44%;
	height: 45vh;
}

.sections.create1{
	text-align: right;
	padding-left: 0px;
	font-size: 15px;
	width: 50%;
	height: 45vh;
}

.sections.create2{
	text-align: left;
	padding-left: 10px;
	font-size: 15px;
	width: 46%;
	height: 45vh;
}

.settingsP{
	padding-top: 0px;
	padding-bottom: 0px;
	height: 7px;
	margin-top: 5px;
	margin-bottom: 5px;
}



.settingsInput{
	padding-top: 1px;
	padding-bottom: 1px;
	height: 12px;
	margin-top: 4px;
	margin-bottom: 14px;
}

/**Create versions are for the createAccountPage specifically**/
.createP{
	padding-top: 1px;
	padding-bottom: 1px;
	height: 5px;
	margin-top: 4px;
	margin-bottom: 4px;
	align-items: center;
}

.sections.create1{
	text-align: center;
	padding-left: 0px;
	font-size: 15px;
	width: 100%;
	height: 45vh;
}

.createInput{
	padding-top: 1px;
	padding-bottom: 1px;
	height: 11px;
	margin-top: 6px;
	margin-bottom: 11px;
}

.updateB{
	margin-top: 10px;
	border: 1;
	font-size: 18px;
	background-color: #782F40;
	padding: 12px 100px;
	transition-duration: .2s;
}

.updateB:hover {
	background-color: #580F20;
}

.createB{
	margin-top: 10px;
	border: 1;
	font-size: 18px;
	background-color: #782F40;
	padding: 12px 100px;
	transition-duration: .2s;
}

.createB:hover {
	background-color: #580F20;
}

/** THIS IS STYLING FOR SIGN IN PAGE SPECIFICS**/

.signin{
	position: relative;
	font-size: 18px;
	width: 30%;
	left: 35%;
	height: 20%;
	bottom: 40%;
}

#emailIn{
	margin-top: 3px;
	border: 1;
	padding: 12px;
	width: 392px;
	text-align: left;
}

#pswrdIn{
	margin-top: 3px;
	border: 1;
	padding: 12px;
	width: 392px;
	text-align: left;
}

.signinB{
	margin-top: 10px;
	border: 1;
	font-size: 18px;
	background-color: #782F40;
	padding: 12px 180px;
	transition-duration: .2s;
}

#wrongValue{
	visibility: hidden;
	height:0px;
	color:#FF0000;
	text-align: center;
}

.signinB:hover {
	background-color: #580F20;
}