<!DOCTYPE html>
<html lang="en">
<head>
<title>Student Companion</title>
<link rel="stylesheet" href="{{ url_for('static', filename='MainStyle.css') }}" />
<script src="MainScript.js"></script>
</head>
<body>
	<div class="workSpace">
		<div class="header">
			<h1>The Student Companion</h1>
		</div>
	
	
		<div class="headGap"><p></p></div>
		
		<div class="row">
			<div class="sections menu">
			<p>Menu</p>
			<a href="{{ url_for('index') }}"">Home</a>
			<a href="{{ url_for('groups') }}">Groups</a>
			<a href="{{ url_for('settings') }}">Settings</a>
			<a href="{{ url_for('signout') }}">Sign Out</a>
			</div>
				
			<div class ="sections setTitle">
				<h4>Add Event</h4>
				<div class="row">				<!-- Must use a second row tag to nest another inside the big setTitle section-->
					<div class ="sections settings1">
					<p class="settingsP">Title:</p>
					<br>
					<p class="settingsP">Date:</p>
					<br>
					<p class="settingsP">Time Start:</p>
					<br>
					<p class="settingsP">Time End:</p>
					<br>
					<p class="settingsP">Set Reminder Time:</p>
					<br>
					</div>
					
					
					<div class ="sections settings2">
					<input type="text" class="settingsInput" id="setTitle">
					<br>
					<input type="date" class="settingsInput" id="setDate">
					<br>
					<input type="time" class="settingsInput" id="setTimeStart">
					<br>
					<input type="time" class="settingsInput" id="setTimeEnd">
					<br>
					<input type="time" class="settingsInput" id="setReminderTime">
					<br>
					</div>
				</div>
					<br>
					<input type="button" value="Update Events" class="updateB">
			</div>
		</div>
	
		<footer class="footer">
			CEN4090L Group 3
		</footer>
	</div>
</body>

</html>

