<!DOCTYPE html>
<html lang="en">
<head>
<title>Student Companion</title>
<link rel="stylesheet" href="{{ url_for('static', filename='MainStyle.css') }}" />
</head>
<body>
	<div class="workSpace">
		<div class="header">
			<h1>The Student Companion</h1>
		</div>
	
	
		<div class="headGap"><p></p></div>

		{% block content %}	<!--Reworked CreateAccount to make accounts using Flask-->
		<div class="sections create1">
			<h4>Create Account</h4>
					<form action="" method="POST">
						{{ form.hidden_tag() }}
						<p>
							{{ form.email.label(class="createP") }}
							<br>
							{{ form.email(size=32) }}
							<br>
							{% for error in form.email.errors %}
							<span style="color: red;">[{{ error }}]</span>
							{% endfor %}
						</p>
						<p>
							{{ form.password.label(class="createP") }}
							<br>
							{{ form.password(size=32) }}
							<br>
							{% for error in form.password.errors %}
							<span style="color: red;">[{{ error }}]</span>
							{% endfor %}
						</p>
						<p>
							{{ form.password2.label(class="createP") }}
							<br>
							{{ form.password2(size=32) }}
							<br>
							{% for error in form.password2.errors %}
							<span style="color: red;">[{{ error }}]</span>
							{% endfor %}
						</p>
						<p>{{ form.submit(class="signinB") }}</p>
					</form>
		</div>
		{% endblock %}
		<footer class="footer">
			CEN4090L Group 3
		</footer>
	</div>
</body>

</html>

