<!DOCTYPE html>
<html lang="en">
<head>
<title>Student Companion</title>
<link rel="stylesheet" href="{{ url_for('static', filename='MainStyle.css') }}" />
<script src="MainScript.js"></script>
</head>
<body>
	<div class="workSpace">
		<div class="header">
			<h1>The Student Companion</h1>
		</div>
	
	
		<div class="headGap"><p></p></div>
		<div class="row">
			<div class="sections menu">
			<p>Menu</p>
			<a href="{{ url_for('index') }}"">Home</a>
			<a href="{{ url_for('groups') }}">Groups</a>
			<a href="{{ url_for('settings') }}">Settings</a>
			<a href="{{ url_for('signin') }}">Sign Out</a>
			</div>
		
			<div class ="sections groups">
				<h4><u>Groups</u></h4>
			</div>
		
			<div class="sections messages">
				<h4>Current Group: </h4>
				<hr>
				<p>Display Messages loaded from groups in database here!</p>
			</div>
		</div>
	
		<footer class="footer">
			CEN4090L Group 3
		</footer>
	</div>
</body>

</html>