
<!DOCTYPE html>
<html lang="en">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
    $(function(){
      $("#includedContent").load("calendar.html");
    });
    </script>
<head>
<title>Student Companion</title>
<link rel="stylesheet" href="{{ url_for('static', filename='MainStyle.css') }}" />
</head>
<body>
	
	<div class="workSpace">
		<div class="header">
			<h1>The Student Companion</h1>
		</div>
		<div class="headGap"><p></p></div>
		<div class="row">
			<div class="sections menu">
			<p>Menu</p>
			<a href="{{ url_for('index') }}"">Home</a>
			<a href="{{ url_for('groups') }}">Groups</a>
			<a href="{{ url_for('settings') }}">Settings</a>
			<a href="{{ url_for('signout') }}">Sign Out</a>
			</div>
		
			<div class ="sections calendar">
				<div class="row">
					<ul class="middleList">
					<li><a href="">Select View</a></li>
					<li><a href="{{ url_for('addEvent') }}">Add Event</a></li>
					<li><a href="{{ url_for('addStudy') }}">Find Study Time</a></li>
					</ul>
				</div>
				<p>{% extends "calendar.html" %}</p>

				  <div id="includedContent"></div>
			</div>
		
			<div class="sections other">
				<div class="rightContent">
				<h2><u>&nbsp;To Do Tasks&nbsp;</u></h2>
				</div>
				<div class="rightContent">
				<h2><u>&nbsp;Messages&nbsp;</u></h2>
				</div>
			</div>
		</div>

		<footer class="footer">
			CEN4090L Group 3
		</footer>
	</div>
</body>
</html> 