<!DOCTYPE html>
<html lang="en">
<head>
<title>Student Companion</title>
<link rel="stylesheet" href="{{ url_for('static', filename='MainStyle.css') }}" />
<script src="MainScript.js"></script>
</head>
<body>
	<div class="workSpace">
		<div class="header">
			<h1>The Student Companion</h1>
		</div>
	
	
		<div class="headGap"><p></p></div>
		
		<div class="row">
			<div class="sections menu">
			<p>Menu</p>
			<a href="{{ url_for('index') }}"">Home</a>
			<a href="{{ url_for('groups') }}">Groups</a>
			<a href="{{ url_for('settings') }}">Settings</a>
			<a href="{{ url_for('signout') }}">Sign Out</a>
			</div>
				
			<div class ="sections setTitle">
				<h4>Account Settings</h4>
					<form action="" method="POST">	<!--Updated Settings to use Flask Forms!-->
						{{ form.hidden_tag() }}		<!--Similar form layout to createAcc Form-->
						<p>
							{{ form.email.label(class="createP") }}
							<br>
							{{ form.email(size=32) }}
							<br>
							{% for error in form.email.errors %}
							<span style="color: red;">[{{ error }}]</span>
							{% endfor %}
						</p>
						<p>
							{{ form.oldpass.label(class="createP") }}
							<br>
							{{ form.oldpass(size=32) }}
							<br>
							{% for error in form.oldpass.errors %}
							<span style="color: red;">[{{ error }}]</span>
							{% endfor %}
						</p>
						<p>
							{{ form.newpass.label(class="createP") }}
							<br>
							{{ form.newpass(size=32) }}
							<br>
							{% for error in form.newpass.errors %}
							<span style="color: red;">[{{ error }}]</span>
							{% endfor %}
						</p>
						<p>
							{{ form.newpass2.label(class="createP") }}
							<br>
							{{ form.newpass2(size=32) }}
							<br>
							{% for error in form.newpass2.errors %}
							<span style="color: red;">[{{ error }}]</span>
							{% endfor %}
						</p>
						{% with messages = get_flashed_messages() %}
						{% if messages %}
							{% for message in messages %}
							<p style="color: red;">{{ message }}</p>
							{% endfor %}
						{% endif %}
						{% endwith %}
						<p>{{ form.submit(class="signinB") }}</p>
					</form>
			</div>
		</div>
	
		<footer class="footer">
			CEN4090L Group 3
		</footer>
	</div>
</body>

</html>

