<!DOCTYPE html>
<html lang="en">
<head>
<title>Student Companion</title>
<link rel="stylesheet" href="MainStyle.css">
<script src="SignInScript.js"></script>
</head>
<body>
	<div class="workSpace">
		<div class="header">
			<h1>The Student Companion</h1>
		</div>
	
	
		<div class="headGap"><p></p></div>
		<div class="headGap"><p></p></div>
		
		<div class="signin">
			<h1>Sign In</h1>
			Email
			<br>
			<input type="email" id="emailIn">
			<br>
			Password
			<br>
			<input type="password" id="pswrdIn">
			<br>
			<div id="wrongValue">
				<p>Incorrect email or password!</p>
			</div>
			<input type="button" onclick="checkSignIn()" class="signinB" value="Sign In">
		</div>
	
	
		<footer class="footer">
			CEN4090L Group 3
		</footer>
	</div>
</body>

</html>